&RUN_PARAMETERS
 RUN_NAME="Piton_Emb2        ",
 VERBOSE_LEVEL=0          ,
 /
&NEWRUN_PARAMETERS
 Z0=  0.0D0     ,
 ZN=  1400.0D0     ,
 RADIUS=  {x3}     ,
 COMP_CELLS=1000       ,
 /
&PHASES_PARAMETERS
 N_GAS=2          ,
 N_CRY=1          ,
 /
&STEADY_BOUNDARY_CONDITIONS
 T_IN=  {x2}     ,
 P1_IN=  {x1}     ,
 X_EX_DIS_IN=  {x4} , {x5} , 
 P_OUT=  101300.0D0     ,
 U1_IN=  1.000000000000000E-00,
 FIXED_PRESSURE_BC=T,
 CHOCKED_FLOW_BC=T,
 SHOOTING=T,
 FLOW_REGIME="Variable                      ",
 /
&EXSOLVED_GAS_PARAMETERS
 GAS_LAW="VDW                 ",
 PC_G=  22064000.0D0     ,   7287000.0D0 ,
 TC_G=  647.0D0     ,  304.210D0  ,
 CV_G=  2380.0D0     , 1150.0D0 ,
 GAMMA_G=  1.1940D0     , 1.16430D0 ,
 RHO0_G= 0.52924424999999997     , 1.42199250D0 ,
 T0_G=  2*373.0D0     ,
 BAR_E_G=  1000000.0D0     , -200000.0D0 ,
 S0_G=  6500.0D0     , 2000.0D0 ,
 VISC_2=  1.5000000000000000E-005,
 LATERAL_DEGASSING=F,
 ALFA2_LAT_THR=  1.10D0     ,
 PERM0=  5.0000000000000E-003,
 /
&MELT_PARAMETERS
 RHO0_M=  2700.0D0     ,
 C0_M=  1500.0D0     ,
 CV_M=  707.0D0     ,
 GAMMA_M=  2.10D0     ,
 P0_M=  240000000.0D0     ,
 T0_M=  1377.6887892870918     ,
 BAR_E_M=  0.0D0     ,
 BAR_P_M=  2652857142.8571429     ,
 S0_M=  2700.0D0     ,
 MELT_COMPOSITION="Piton2015_Emb2_REU151031-2 ",
 SIO2=  0.0D0     ,
 TIO2=  0.0D0     ,
 AL2O3=  0.0D0     ,
 FEO=  0.0D0     ,
 MNO=  0.0D0     ,
 MGO=  0.0D0     ,
 CAO=  0.0D0     ,
 NA2O=  0.0D0     ,
 K2O=  0.0D0     ,
 P2O5=  0.0D0     ,
 /
&DISSOLVED_GAS_PARAMETERS
 RHO0_D=  2*2700.0D0     ,
 C0_D=  2*1500.0D0     ,
 CV_D=  2*707.0D0     ,
 GAMMA_D=  2*2.0380D0     ,
 P0_D=  2*240000000.0D0     ,
 T0_D=  2*1377.6887892870918     ,
 BAR_E_D=  2*0.0D0     ,
 BAR_P_D=  2*2652857142.8571429     ,
 S0_D=  2*2700.0D0     ,
 EXSOL_MODEL="Henry                         ",
 SOLUB=  1.8911456784293979E-006   ,  2.2154326237846280E-012  ,
 SOLUB_EXP= 0.52570739450012149     ,  1.0749749686208669 ,
 /
&CRYSTALS_PARAMETERS
 RHO0_C=  3000.0D0     ,
 C0_C=  1800.0D0     ,
 CV_C=  400.0D0     ,
 GAMMA_C=  3.0D0     ,
 P0_C=  150000000.0D0     ,
 T0_C=  1350.0D0     ,
 BAR_E_C=  250000.0D0     ,
 BAR_P_C=  3090000000.0D0     ,
 S0_C=  2500.0D0     ,
 BETA_C0=  {x6}     ,
 BETA_C_MAX= 0.90D0    ,
 CRYSTALLIZATION_MODEL="Piton2015_Emb2_REU151031-2_TOT",
 /
&VISCOSITY_PARAMETERS
 VISC_MELT_MODEL="Giordano2008                  ",
 BUBBLE_REL_VISC_MODEL="Llewellin_lowcap    ",
 THETA_MODEL="Vona2011                      ",
 THETA_FIXED=  1.0D0     ,
 /
&TEMPERATURE_PARAMETERS
 MIXTURE_ENERGY_EQUATION="Zein_et_al2010      ",
 ISOTHERMAL=F,
 FIXED_TEMP=  1373.0D0     ,
 /
&FRAGMENTATION_PARAMETERS
 EXPLOSIVE=T,
 FRAGMENTATION_MODEL="Strain_Rate                   ",
 VF_FRAG_THR= 0.10D0     ,
 STRESS_FRAG_THR=  3500000.0D0     ,
 ELASTIC_MODULUS=  10000000000.0D0     ,
 MAX_PACKING_FRACTION=  100000000000.0D0     ,
 STRAIN_RATE_VISCOSITY="Mixture                       ",
 RE_BUBBLY_MAGMA_EXP_THR=  1.0D0     ,
 /
&EXTERNAL_WATER_PARAMETERS
 EXT_WATER=F,
 TOTAL_WATER_INFLUX=  0.0D0     ,
 MIN_Z_INFLUX=  0.0D0     ,
 DELTA_Z_INFLUX=  0.0D0     ,
 T_W=  0.0D0     ,
 INST_VAPORIZATION=F,
 /
&SOURCE_PARAMETERS
 GRAV=  9.8100D0     ,
 /
&RELAXATION_PARAMETERS
 DRAG_FUNCT_MODEL="forchheimer                   ",
 LOG10_DRAG_FUNCT_COEFF=  0.0D0     ,
 P_RELAX_MODEL="constant     ",
 LOG10_TAU_P_COEFF= -5.0D0     ,
 LOG10_TAU_C=  3.0D0     ,
 LOG10_TAU_D= 2*-3.0D0   ,
 CRYST_AFTER_FRAG=T,
 EXSOL_AFTER_FRAG=T,
 /
&FORCHHEIMER_PARAMETERS
 LOG10_BUBBLE_NUMBER_DENSITY=  11.0D0     ,
 TORTUOSITY_FACTOR=  2.0D0     ,
 THROAT_BUBBLE_RATIO= 0.90D0     ,
 LOG10_FRICTION_COEFFICIENT=  -2.0D0     ,
 SURFACE_TENSION=  5.0D-002,
 C_D= 0.80D0     ,
 R_A=  1.0D-003,
 ALFA_G_TRANSITIONAL=  0.0D0     ,
 /
